html,
body{
  width:100%;
  height:100%;
  background-color: rgb(12,11,33);
  font-family:"Times New Roman",Georgia,serif;
}
.container{
  width:320px;
  height:400px;
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-160px;
  margin-top:-200px;
  background-color:rgb(12,144,255);
  border-radius:30px;
  box-shadow:10px 10px 13px  pink;
}
#title{
  color:black;
  font-size:30px;
  text-align:center;
  margin-top:10px;
}
.textBox{
  width:270px;
  height:30px;
  margin-left:10px;
  margin-bottom:10px;
  text-align:right;
}
#buttons{
  margin-left:-6px;
  margin-top:-10px;
}
.btn{
  width:60px;
  height:50px;
  margin-top:2px;
}